<nav>
    <div class='nav wrapper'>
        <a href="home.php" class="brand-logo"><i class="material-icons"><img width="60" src="../../style/logo_clinic.PNG"></i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="home.php">Home</a></li>
            <li><a href="patient.php">Patient</a></li>
            <li><a href="appointment.php">Appointment</a></li>
            <li><a href="closeSession.php">Close Session</a></li>
        </ul>
    </div>
</nav>